h1 
{
	color: black;

	font-size: 50;

	text-align: center;

	background-color: #F784FD;

	font-family: 'Dancing Script', cursive;

}

p
{

font-family: 'Kalam', cursive;

text-align: center;

background-color: #F784FD
;

font-size: 50;

color: white;

}